body {
	background-color: #3C3C3B;
}

img {
	width: 55%;
	border-radius: 25px;
	border: 5px solid #0020C2;
}

label {
	display: block;
	margin: 5px 0 5px 20px;
	font: 24px sans-serif;
	color: #0020C2
}

input {
	width: 35%;
	margin: 0 0 0 20px;
}

fieldset{
	border-radius: 25px;
	border: 5px solid #0020C2;
	background-color: #EBEBD3;
	padding: 0 0 20px 20px;
	width: 75%;
	color: #0020C2
}

button {
	width: 125px;
}

#result {
	color: blue;
	font-size: 20px;
}
